@import './vars';
@import './mixins';

.footer{
    background-color: $mainBlack;
    grid-column: 2;
    padding: 6rem 2rem 6rem 2.5rem;

        @include atDesktop{
            padding-left: 4rem;
            padding-top: 9rem;
            padding-bottom: 6rem;
        }

    h2{
        padding-left: 0;
        text-transform: uppercase;
    }


    .social{
        
        a{
            margin-right: 2.5rem;
         
                @include atDesktop{
                    margin-right: 3rem;
                }
         
                svg{
                    color: $mainColor;
                    font-size: 2.2rem;
                }
        }
        
    }
}